<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="german.teach.learn.zero.learnandteachgerman">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ExerciseSelection">
        </activity>
        <activity android:name=".exercises.exe1.CreateExercise1Activity">
        </activity>
        <activity android:name=".models.ExercisePagerActivity"/>
        <activity android:name=".exercises.exe2.ExerciseTwoFragment">
        </activity>
    </application>

</manifest>